
#container
{
    width: 400px;
    height: 400px;
    border : solid 1px rgb(0, 0, 0);
    margin: auto;
    background-color: rgb(2, 2, 59);
}

#carre
{
    border: 6px solid rgb(152, 112, 175);
    width: 100px;
    height: 100px;
    background:none;

}

#triangle
{
    background:none;
}

#croix
{
    background:none;
}

#trait1
{
    background:none;
}

#trait2
{
    background:none;
}

#rond
{
    background:none;
}